html,
body {
    margin: 0;
    padding: 0;
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #949AA7;
    background-color: #7F7981;
}

/* APP BASE*/
.mainApp {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-bottom: 1px solid #22381C;
    -webkit-box-sizing: border-box;
}

.mainApp>.topBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    border-bottom: 3px solid #22381C;
    background-color: #533B2F;
    -webkit-user-select: none;
}

.topBar>.titleBar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topBar>.titleBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.titleBar>.toggleButton {
    width: 45px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url("../icons/list.png");
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
    cursor: pointer;

}


.titleBar>.toggleButton:hover {
    background-color: #8C5E29;
}

.titleBar>.toggleButton:active {
    background-color: #7F7981;
}

.titleBar>img {
    margin-left: 10px;
}

.titleBar>.title {
    margin-left: 10px;
    width: 100%;
    line-height: 30px;
    margin-top: 5px;
    padding-bottom: 5px;
    -webkit-app-region: drag;
}

.topBar>.titleBarBtns {
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 40px;
}

.titleBarBtns>.topBtn {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
    cursor: pointer;
}

.titleBarBtns>.topBtn:hover {
    background-color: #8C5E29;
}

.titleBarBtns>.topBtn:active {
    background-color: #7F7981;
}

.titleBarBtns>.minimizeBtn {
    background-image: url(../icons/min.png);
}

.titleBarBtns>.maximizeBtn {
    background-image: url(../icons/max.png);
}

.titleBarBtns>.restoreBtn {
    background-image: url(../icons/restore.png);
}


.titleBarBtns>.closeBtn {
    background-image: url(../icons/close.png);
}

.mainApp>.contentArea {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.contentArea>.leftMenu {
    width: 280px;
    height: 100%;
    background-color: #22381C;
    transition: 0.4s;
    font-size: 20px;
}



.contentArea>.contentPages {
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
}

ul,
li {
    list-style-type: none;
}

.menuOff {
    display: none;
}

.menuOn {
    display: block;
}